<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/form}" th:text="Create"></a>
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Edit</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="client: ${clients}">
                <td th:text="${client.id}"></td>
                <td th:text="${client.firstName}"></td>
                <td th:text="${client.lastName}"></td>
                <td><a th:href="@{/form/} + ${client.id}" th:text="'edit'"></a></td>
                <td><a th:href="@{/delete/} + ${client.id}" th:text="'remove'"></a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>